@using EFCore.Models;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int totalCount = ViewData["Count"] as int? ?? 0; // 获取总记录数
    int pageSize = 5; // 每页条目数
    int totalPages = (int)Math.Ceiling((double)totalCount / pageSize); // 计算总页数
    var lists = ViewData["page"] as EFCore.Models.FenYeT<HFDs>;
    int pageIndex = lists.PageIndex;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-trasitional.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>
	<form id="submitForm">
		<table width="100%">
			<tr>
				<td>
					<font color="black">您正在做的业务是：人力资源--人力资源档案管理--人力资源档案查询 </font>
				</td>
			</tr>
			<tr>
				<td>
					符合条件的人力资源档案总数：
					@totalCount
					例
				</td>
			</tr>
			<tr>
				<td align="right">
					<input type="button" value="返回" class="BUTTON_STYLE1 updatePage" data-url="/HumanResources/Query_locate">
				</td>
			</tr>
		</table>
		<table width="100%" border="1" cellpadding=5 cellspacing=1
			   bordercolorlight=#848284 bordercolordark=#eeeeee
			   class="TABLE_STYLE1">
			<tr class="TR_STYLE1">
				<td width="8%" class="TD_STYLE1" style="text-align:center">
					档案编号
				</td>
				<td width="6%" class="TD_STYLE1" style="text-align:center">
					姓名
				</td>
				<td width="6%" class="TD_STYLE1" style="text-align:center">
					性别
				</td>
				<td width="7%" class="TD_STYLE1" style="text-align:center">
					I级机构
				</td>
				<td width="7%" class="TD_STYLE1" style="text-align:center">
					II级机构
				</td>
				<td width="7%" class="TD_STYLE1" style="text-align:center">
					III级机构
				</td>
				<td width="7%" class="TD_STYLE1" style="text-align:center">
					职位分类
				</td>
				<td width="7%" class="TD_STYLE1" style="text-align:center">
					职位名称
				</td>
				<td width="8%" class="TD_STYLE1" style="text-align:center">
					操作
				</td>
			</tr>
			@foreach(var chang in ViewData["list"] as List<HFDs>)
			{
				<tr class="TR_STYLE2">
					<td width="8%" class="TD_STYLE2" style="text-align:center">
						@chang.HumanId
					</td>
					<td width="6%" class="TD_STYLE2" style="text-align:center">
						@chang.HumanName
					</td>
					<td width="6%" class="TD_STYLE2" style="text-align:center">
						@chang.HumanSex
					</td>
					<td width="7%" class="TD_STYLE2" style="text-align:center">
						@chang.FirstKindName
					</td>
					<td width="7%" class="TD_STYLE2" style="text-align:center">
						@chang.SecondKindName
						</td>
					<td width="7%" class="TD_STYLE2" style="text-align:center">
						@chang.ThirdKindName
					</td>
					<td width="7%" class="TD_STYLE2" style="text-align:center">
						@chang.HumanMajorKindName
					</td>
					<td width="7%" class="TD_STYLE2" style="text-align:center">
						@chang.HunmaMajorName
					</td>
					<td width="8%" class="TD_STYLE2" style="text-align:center">
						<input type="button" value="修改" class="BUTTON_STYLE1 updatePage" data-url="/HumanResources/Change_list_information?id=@chang.HfdId">
					</td>
				</tr>
			}
			

		</table>
		<p style="text-align:center;">
			当前为第
			@pageIndex
			页
		</p>
		<p style="text-align:center;">

			<a class="updatePage" data-url="/HumanResources/Change_List?PageIndex=1&PageSize=5" style="margin-right: 10px;" id="fenye">首页</a>
			@if (pageIndex > 1)
			{
				string previousUrl = $"/HumanResources/Change_List?PageIndex={pageIndex - 1}&PageSize=5";
				<a class="updatePage" data-url="@previousUrl" style="margin-right: 10px;" id="fenye">上一页</a>
			}
			@if (totalPages > 0)
			{
				for (int i = 1; i <= totalPages; i++)
				{
					string url = $"/HumanResources/Change_List?PageIndex={i}&PageSize=5";
					if (i == pageIndex)
					{

						<a class="updatePage" data-url="@url" style="margin-right: 10px;color:red" id="fenye">@i</a>
					}
					else
					{
						<a class="updatePage" data-url="@url" style="margin-right: 10px;" id="fenye">@i</a>
					}
				}
			}
			@if (pageIndex < totalPages)
			{
				string nextUrl = $"/HumanResources/Change_List?PageIndex={pageIndex + 1}&PageSize=5";
				<a class="updatePage" data-url="@nextUrl" style="margin-right: 10px;" id="fenye">下一页</a>
			}
			<a class="updatePage" data-url="/HumanResources/Change_List?PageIndex=@totalPages&PageSize=5" id="fenye">尾页</a>
		<script src="~/js/updatego.js"></script>

	</form>
</body>
</html>
